name: CI/CD Pipeline (Test -> Build -> Deploy)

on:
  push:
    branches: [ "main" ]

jobs:
  # TRABAJO 1: CI (INTEGRACIÓN CONTINUA - TESTS)
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        # Ejecutamos pytest. Si falla, el pipeline se detiene aquí.
        run: pytest test_main.py

  # TRABAJO 2: CD (DESPLIEGUE CONTINUO)
  build-and-deploy:
    needs: test # <--- ¡ESTO ES CLAVE! Espera a que 'test' pase exitosamente
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 1. Login Azure
      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # 2. Metadata
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.ACR_LOGIN_SERVER }}/plantpathology_api
          tags: type=raw,value=latest

      # 3. Build & Push (Multi-arch para Drone y Cloud)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # ¡LISTO PARA EL DRONE!
          # Construimos para PC (amd64) y para Raspberry Pi/Drone (arm64) al mismo tiempo
          platforms: linux/amd64,linux/arm64 
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}